<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


</head>

<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div th:fragment="sidebarMenu" class="col-2 order-first " id="sidebar">

                <nav class="sticky-top vh-100 d-flex flex-column ps-4">

                    <div>
                        <a th:href="@{/perfil}"
                            class="d-flex align-items-center py-4 pe-2 text-decoration-none text-dark rounded nav-link menu-link ">
                            <img th:src="@{url}"
                                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F8a%2F1a%2F4b%2F8a1a4bb250096a39f05aad50bdeef23b.png&f=1&nofb=1&ipt=0d7ce6c642b393e9e39266439e937ba0c12b99c12d1a9cd27883782d41add391"
                                alt="Foto de perfil" class="rounded-circle me-3" width="50" height="50">
                            <div class="d-flex flex-column lh-sm">
                                <span class="fw-bold" th:text="${nombre}">Nombre Profesor</span>
                                <span class="text-muted" th:text="${email}">Profesor@educacion</span>
                                <span class="text-muted" th:text="${departamento}">Departamento ExamTrack</span>
                            </div>
                        </a>
                        <hr id="sidebarLine" class="me-4" />

                        <div class="container m-0 p-0 fs-6">
                            <ul class="row list-unstyled pe-4">
                                <li class="col-12 py-1"><a th:href="@{/inicio}"
                                        class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones"><i
                                            class="bi bi-house pe-3"></i>Inicio</a></li>

                                <li class="col-12 py-1"><a th:href="@{/notificaciones}" href="#"
                                        class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex justify-content-between align-items-center w-100 sidebar-opciones">
                                        <span><i class="bi bi-bell pe-3"></i>Notificaciones</span>
                                    </a></li>

                                <li class="col-12 py-2 ">
                                    <hr class="m-0 ms-2" style="width: 25px; border-width: 1px;">
                                </li>

                                <li class="col-12 py-1"><a th:href="@{/alumnos} "
                                        class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones"><i
                                            class="bi bi-people pe-3"></i>Alumnos</a></li>
                                <li class="col-12 py-1"><a th:href="@{/examenes}"
                                        class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones"><i
                                            class="bi bi-file-earmark-medical pe-3"></i>Exámenes</a></li>

                                <li class="col-12 py-1">
                                    <a href="#submenuHerramientas" data-bs-toggle="collapse" role="button"
                                        aria-expanded="false" aria-controls="submenuHerramientas"
                                        class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex justify-content-between align-items-center w-100 sidebar-opciones ">
                                        Herramientas del Profesor
                                        <i class="bi bi-chevron-down fs-6"></i>
                                    </a>

                                    <ul class="collapse list-unstyled ps-4 mt-1 w-100" id="submenuHerramientas">
                                        <li class="py-1">
                                            <a th:href="@{/calendario}" href="#"
                                                class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones">
                                                <i class="bi bi-calendar pe-3"></i>Calendario
                                            </a>
                                        </li>

                                        <li class="py-1">
                                            <a th:href="@{/observaciones}" href="#"
                                                class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones">
                                                <i class="bi bi-chat-left-dots pe-3"></i>Observaciones
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-auto w-100 pe-4 mb-4">

                        <div class="dropup w-100 mb-4">

                            <button type="button"
                                class=" btn-redPrimary border rounded-pill w-100 py-2 fw-bold shadow-sm d-flex justify-content-center align-items-center"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-plus-lg pe-3 fs-5"></i> Crear
                            </button>

                            <ul class="dropdown-menu w-100 shadow border-0 rounded-4 mb-2 p-2 ">
                                <li>
                                    <a class="dropdown-item rounded py-2" th:href="@{/formAlumno}">
                                        <i class="bi bi-person-plus pe-2"></i> Crear Alumno
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item rounded py-2" th:href="@{/formExamen}">
                                        <i class="bi bi-file-earmark-plus pe-2"></i> Crear Examen
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <hr />

                        <ul class="list-unstyled m-0 fs-6 mt-3">
                            <li class="py-1"><a th:href="@{/perfil}"
                                    class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones"><i
                                        class="bi bi-person pe-3"></i>Mi Perfil</a></li>
                            <li class="py-1"><a th:href="@{/sobreNosotros}"
                                    class="text-dark text-decoration-none nav-link p-2 rounded menu-link d-flex align-items-center w-100 sidebar-opciones"><i
                                        class="bi bi-info-circle pe-3"></i>Sobre nosotros</a></li>
                            <li class="py-1"><a th:href="@{/logout}"
                                    class="text-dark text-decoration-none nav-link p-2 rounded logout-link d-flex align-items-center w-100 sidebar-opciones"><i
                                        class="bi bi-box-arrow-left pe-3"></i>Logout</a></li>
                        </ul>

                    </div>

                </nav>
            </div>

            <div class="col-10 bg-light m-0 ">
                <h1>Contenido Principal</h1>
            </div>

        </div>
    </div>

</body>

</html>