/*Estilos del SideBar*/

@font-face {
    font-family: 'Inter-italic';
    src: url(../font/inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../font/inter/Inter-VariableFont_opsz\,wght.ttf);
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}


#sidebar {
    background-color: rgb(238, 238, 238);
}

#opcionesSideBar {
    list-style-type: none;
}


#opcionesSideBar>li>a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    opacity: 100;


}

#opcionesSideBar>li:hover {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    margin-left: -10px;
    border: 1px solid rgb(222, 222, 222);

}


#sidebarLine {
    border-color: rgb(189, 189, 189);
    opacity: 50;
    border-radius: 20px;

}

.title-ExamTrack {
    color: rgb(178, 58, 58);
}


/* Personalizacion Botones */
.btn-redPrimary {
    background-color: rgb(178, 58, 58);
    font-weight: bold;
}

.btn-redPrimary:hover {
    background-color: rgb(210, 92, 92);
}

.background {
    background-image: url("../image/background.webp");
    background-size: cover;
    background-position: center;
}

.bloqueIzqLogin {
    background-color: rgb(210, 92, 92);
}