<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row min-vh-100">

            <div th:replace="~{fragmentos/sidebar :: sidebarMenu}"></div>

            <div class="col-12 col-lg-10">
                <div class="my-4 ms-5 ps-3">
                    <h1 class="display-5 fw-semibold">Exámenes</h1>
                </div>
                <div class="container my-4">

                    <div class="row g-3 mb-4 align-items-start bg-white p-3 rounded shadow-sm w-50">

                        <div class="col-12 col-md-2 text-md-end pb-2 w-100">
                            <a th:href="@{/formExamen}" class="btn btn-redPrimary text-light w-100">Crear Examen</a>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                        <div class="col" th:each="examenes : ${examen}">
                            <div
                                class="card h-100 shadow-sm bg-white border-2 border-light-subtle rounded-3 card-examen overflow-hidden position-relative">

                                <img src="https://picsum.photos/400/150" class="w-100"
                                    style="height: 120px; object-fit: cover;" alt="Banner Examen">

                                <div class="position-absolute top-0 start-0 m-3 d-flex gap-2" th:if="${examenes.fecha >= actualidad}">
                                    <p class="btn btn-success py-0 px-2 text-light fw-bold " style="font-size: 11px;"
                                    th:text="${#temporals.format(examenes.fecha, 'dd-MM-yyyy')}"></p>
                                </div>

                                <div class="position-absolute top-0 start-0 m-3 d-flex gap-2" th:if="${actualidad > examenes.fecha}">
                                    <p class="btn btn-danger py-0 px-2  text-light fw-bold " style="font-size: 11px;"
                                    th:text="${#temporals.format(examenes.fecha, 'dd-MM-yyyy')}"></p>
                                </div>

                                <div class="position-absolute top-0 end-0 m-3 d-flex gap-2">
                                    <a th:href="@{/editar/examen/{id}(id=${examenes.idExamen})}"
                                        class="btn btn-light btn-sm rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                        style="width: 34px; height: 34px;" title="Editar">
                                        <i class="bi bi-pencil text-primary"></i>
                                    </a>
                                    <a th:href="@{/eliminar/examen/{id}(id=${examenes.idExamen})}"
                                        class="btn btn-light btn-sm rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                        style="width: 34px; height: 34px;" title="Eliminar">
                                        <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </div>

                                <div class="position-absolute end-0 translate-middle-y d-flex align-items-center gap-1 me-4 "
                                    style="top: 120px;"
                                    th:with="listaAlumnos=${alumnosInscritos?.get(examenes)?.toArray()}">

                                    <img th:src="${listaAlumnos != null && listaAlumnos.length > 0 ? listaAlumnos[0].fotoPerfil : '/image/default-avatar.webp'}"
                                        class="rounded-circle border border-2 border-white shadow-sm"
                                        style="width: 50px; height: 50px; object-fit: cover;">

                                    <img th:src="${listaAlumnos != null && listaAlumnos.length > 1 ? listaAlumnos[1].fotoPerfil : '/image/default-avatar.webp'}"
                                        class="rounded-circle border border-2 border-white shadow-sm"
                                        style="width: 40px; height: 40px; object-fit: cover;">

                                    <img th:src="${listaAlumnos != null && listaAlumnos.length > 2 ? listaAlumnos[2].fotoPerfil : '/image/default-avatar.webp'}"
                                        class="rounded-circle border border-2 border-white shadow-sm"
                                        style="width: 30px; height: 30px; object-fit: cover;">
                                </div>

                                <div class="p-4 pt-5 d-flex flex-column flex-grow-1">

                                    <h5 class="fw-bold text-dark text-uppercase mb-2 text-truncate"
                                        th:text="${examenes.nombre}"></h5>
                                    <p class="small text-muted mb-4 text-truncate" th:text="${examenes.descripcion}">
                                    </p>

                                    <div class="mt-auto">
                                        <a th:href="@{/examen/inscripciones/{id}(id=${examenes.idExamen})}"
                                            class="btn btn-redPrimary w-100 text-light" title="Inscripciones">
                                            <i class="bi bi-people-fill me-1"></i> Ver Inscripciones
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>