<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">


</head>

<body>

    <div class="container-fluid">
        <div class="row min-vh-100">

            <div th:replace="~{fragmentos/sidebar :: sidebarMenu}"></div>

            <div class="col-12 col-lg-10">
                <div class="my-4 ms-5 ps-3">
                    <h1 class="display-5 fw-semibold">Inicio</h1>
                </div>

                <div class="container-fluid mb-4 mt-4">

                    <div class="row g-4 h-100 " style="min-height: 400px;">

                        <div class="col-6 ">

                            <div class="row g-3 h-100 " style="min-height: 400px; ">

                                <div class="col-6">
                                    <div
                                        class="border  border-2 h-100 py-5 d-flex align-items-center justify-content-center">
                                        Cuadrado 1
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div
                                        class="border border-2 h-100 py-5 d-flex align-items-center justify-content-center">
                                        Cuadrado 2
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div
                                        class="border  border-2 h-100 py-5 d-flex align-items-center justify-content-center">
                                        Cuadrado 3
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div
                                        class="border  border-2 h-100 py-5 d-flex align-items-center justify-content-center">
                                        Cuadrado 4
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-6">
                            <div
                                class="border border-2 h-100 d-flex align-items-center justify-content-center">
                                Grafico
                            </div>
                        </div>

                        <div class="mt-5">
                            <h3 class="mb-4 fw-bold">Mejores Datos</h3>

                            <div class="row g-3">

                                <div class="col-3">
                                    <div class="border  border-2 d-flex flex-column align-items-center justify-content-center text-center"
                                        style="min-height: 250px;">
                                        Columna 1
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="border  border-2 d-flex flex-column align-items-center justify-content-center text-center"
                                        style="min-height: 250px;">
                                        Columna 2
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="border  border-2 d-flex flex-column align-items-center justify-content-center text-center"
                                        style="min-height: 250px;">
                                        Columna 3
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="border border-2 d-flex flex-column align-items-center justify-content-center text-center"
                                        style="min-height: 250px;">
                                        Columna 4
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>


</body>

</html>