<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script th:src="@{/js/validacion.js}" defer></script>



</head>

<body>

    <main class="container-fluid background" id="">
        <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
            <div class="w-75 h-75 d-flex rounded-5 overflow-hidden shadow">
                <div class="container-fluid p-0">
                    <div class="row h-100 m-0">

                        <div
                            class="col-xxl-6 col-md-0 d-flex opacity-75 flex-column justify-content-center px-5 bloqueIzqLogin">
                            <h2 class="display-3 display-md-4 opacity-100 text-light ">Gestiona tus convocatorias</h2>
                            <p class="pe-xxl-5 pe-md-2 text-light">ExamTrack nace de la idea de gestionar convocatorias
                                de examenesde la forma mas profesional y optimizada posible, con accesibilidad a todos
                                los publicos.</p>
                        </div>

                        <div class="col-xxl-6 col-md-12 bg-white">
                            <div class="container-fluid h-100">
                                <div class="row d-flex flex-column h-100">

                                    <div class="w-100 d-flex justify-content-center pt-5">
                                        <h1 class="fw-bold">examTrack</h1>
                                    </div>

                                    <div th:if="${param.error}" class="alert alert-danger text-center "> Hubo un problema al iniciar sesión, comprueba que la contraseña o correo son correctos.
                                    </div>

                                    <div th:if="${param.logout}" class="alert alert-success text-center "> ¡Se cerro
                                        sesión correctamente!
                                    </div>

                                    <div
                                        class="w-100 flex-grow-1 d-flex flex-column justify-content-center align-items-center pb-5">
                                        <form class="w-75 d-flex flex-column align-items-center pb-5 needs-validation"
                                            method="post" th:action=@{/login} novalidate>

                                            <div class="mb-3 w-75 py-3">
                                                <label for="emailLabel" class="form-label col-form-label-lg">Correo
                                                    Electronico</label>
                                                <input type="email" class="form-control" id="emailLabel" name="username" required>

                                            </div>
                                            <div class="mb-3 w-75 py-3">
                                                <label for="contraLabel"
                                                    class="form-label col-form-label-lg">Contraseña</label>
                                                <input type="password" class="form-control" id="passwordLabel"
                                                    name="password" minlength="5" required>
                                            </div>
                                            <button type="submit"
                                                class="btn btn-redPrimary w-50 mt-3 text-light">Iniciar
                                                Sesión</button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>