<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row min-vh-100">

            <div th:replace="~{fragmentos/sidebar :: sidebarMenu}"></div>

            <div class="col-12 col-lg-10">
                <div class="my-4 ms-5 ps-3">
                    <h1 class="display-5 fw-semibold">Notificaciones</h1>
                </div>

                <div class="container my-4">
                    <div class="d-flex gap-2 mb-4 justify-content-start">

                        <form th:action="@{/notificaciones}" method="get">
                            <input type="hidden" name="filtro" value="1">
                            <button type="submit"
                                th:class="${filtro == 0 or filtro == 1} ? 'btn btn-redPrimary text-light px-4 rounded-pill' : 'btn btn-greyPrimary px-4 rounded-pill'">
                                Todos
                            </button>
                        </form>

                        <form th:action="@{/notificaciones}" method="get">
                            <input type="hidden" name="filtro" value="2">
                            <button type="submit"
                                th:class="${filtro == 2} ? 'btn btn-redPrimary text-light px-4 rounded-pill' : 'btn btn-greyPrimary px-4 rounded-pill'">
                                Próximos Exámenes
                            </button>
                        </form>

                        <form th:action="@{/notificaciones}" method="get">
                            <input type="hidden" name="filtro" value="3">
                            <button type="submit"
                                th:class="${filtro == 3} ? 'btn btn-redPrimary text-light px-4 rounded-pill' : 'btn btn-greyPrimary px-4 rounded-pill'">
                                Tareas Pendientes
                            </button>
                        </form>

                    </div>
                    <div th:if="${filtro == 1 or filtro == 2 or filtro == 0}" class="mb-3">

                        <div th:each="proximoExamen : ${proximosExamenes}"
                            class="bg-light border rounded-3 p-3 mb-3 d-flex align-items-center shadow-sm">

                            <img th:src="${proximoExamen.profesor.fotoPerfil != null and !proximoExamen.profesor.fotoPerfil.isEmpty() ? proximoExamen.profesor.fotoPerfil : 'https://ui-avatars.com/api/?name=' + proximoExamen.profesor.nombre + '&background=random'}"
                                th:alt="'Avatar de ' + ${proximoExamen.profesor.nombre}" class="rounded-circle me-3"
                                style="width: 50px; height: 50px; object-fit: cover;">

                            <div class="flex-grow-1">
                                <h6 class="mb-1 fw-bold text-dark">
                                    <span>Examen Pendiente: <span th:text="${proximoExamen.nombre}"
                                            class="text-muted"></span> </span>
                                </h6>
                                <p class="mb-0 text-secondary small">
                                    Fecha: <span th:text="${#temporals.format(proximoExamen.fecha, 'dd/MM/yyyy')}"></span> || Alumnos Inscritos:
                                    <span
                                        th:if="${contadorNumAlumnos != null and contadorNumAlumnos.containsKey(proximoExamen.idExamen)}"
                                        th:text="${contadorNumAlumnos.get(proximoExamen.idExamen)}"></span>
                                </p>
                            </div>

                        </div>

                        <div th:if="${filtro == 2 and #lists.isEmpty(proximosExamenes)}"
                            class="text-center my-4 text-muted">
                            <p>No hay próximos exámenes registrados.</p>
                        </div>
                    </div>


                    <div th:if="${filtro == 1 or filtro == 3 or filtro == 0}" class="mb-3">

                        <div th:each="alumno : ${alumnosSinNotas}"
                            class="bg-light border rounded-3 p-3 mb-3 d-flex align-items-center shadow-sm">

                            <img th:src="${alumno.fotoPerfil != null and !alumno.fotoPerfil.isEmpty() ? alumno.fotoPerfil : 'https://ui-avatars.com/api/?name=' + alumno.nombre + '+' + alumno.primerApellido + '&background=random'}"
                                th:alt="'Avatar de ' + ${alumno.nombre}" class="rounded-circle me-3"
                                style="width: 50px; height: 50px; object-fit: cover;">

                            <div class="flex-grow-1">
                                <h6 class="mb-1 fw-bold text-dark">
                                    <span>Calificación Pendiente: <span
                                            th:text="${alumno.nombre} + ' ' + ${alumno.primerApellido}"
                                            class="text-muted"></span></span>
                                </h6>
                                <p class="mb-0 text-secondary small">
                                    Grupo: <span th:text="${alumno.grupo}"></span> || Email: <span
                                        th:text="${alumno.email}"></span>
                                </p>
                            </div>


                        </div>

                        <div th:if="${filtro == 3 and #lists.isEmpty(alumnosSinNotas)}"
                            class="text-center my-4 text-muted">
                            <p>¡Buen trabajo! No quedan alumnos pendientes de calificación.</p>
                        </div>
                    </div>

                    <div th:if="${filtro == 1 and #lists.isEmpty(proximosExamenes) and #lists.isEmpty(alumnosSinNotas)}"
                        class="text-center my-5 text-muted">
                        <p>No tienes ninguna notificación ni tareas pendientes en este momento.</p>
                    </div>

                </div>

            </div>

</body>

</html>